<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
  <body class="bg-color">
    <section id="app" class="hero is-fullheight">
      <div class="container">
        <template v-if="step === 'nick'">
          <div class="login-app">
            <!-- <div class="login-app__ui"> -->
              <div class="login-app__info">
                <img class="login-app__img" src="../hero.svg" alt="chat app logo" />
                <h1 class="title-app mt-2">Welcome</h1>
              </div>
              <div class="login-app__form">
                <p class="title-app">Please, put your name to continue.</p>
                <input
                v-model="nick"
                type="text"
                class="form-control login-app__input"
                placeholder="Username"
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
                />
                <button
                @click="signIn"
                class="mt-2 btn login-app__btn"
                type="button"
                id="button-addon1"
                >
                <i class="fas fa-paper-plane"></i> Send
              </button>
            </div>
        </template>
        <template v-else>
          <div v-if="messages.length" class="chat-container">
            <div
              v-for="item in messages"
              :class="{ 'has-text-right': nick === item.nick }"
            >
              <div
                class="box chat-message"
                :class="{ 'me': nick === item.nick }"
              >
                <span class="has-text-weight-bold">{{ item.nick }}</span> -
                {{ item.message }}
                <span
                  class="is-italic has-text-grey-light is-size-7"
                  >{{ new Date(item.date).toLocaleDateString() }}</span
                >
              </div>
            </div>
          </div>

          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                v-model="message"
                class="input is-medium"
                type="text"
                placeholder="Message"
              />
            </div>
            <div class="control">
              <a @click="send" class="btn btn-info mt-2"> Send </a>
            </div>
          </div>
        </template>
        <footer class="fixed-footer">
          <p>
            &copy;<a
            href="https://github.com/LaureanoVera"
            target="blank"
            class="color-link"
            >
            LaureanoVera</a
            >
          </p>
        </div>
        </footer>
      </div>
    </section>

    <%- include('./templates/scripts.ejs') %> 
  </body>
</html>
