<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
  <body class="bg-color">
    <section id="app" class="hero is-fullheight">
      <div class="container">
        <template v-if="step === 'nick'">
          <div class="login-app">
            <!-- <div class="login-app__ui"> -->
              <div class="login-app__info">
                <img class="login-app__img" src="../hero.svg" alt="chat app logo" />
                <h1 class="title-app mt-2">Welcome</h1>
              </div>
              <div class="login-app__form">
                <p class="title-app">Please, put your name to continue.</p>
                <input
                v-model="nick"
                type="text"
                class="form-control login-app__input"
                placeholder="Username"
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
                />
                <button
                @click="signIn"
                class="mt-2 btn login-app__btn"
                type="button"
                id="button-addon1"
                >
                <i class="fas fa-paper-plane"></i> Send
              </button>
            </div>
        </template>
        <template v-else>
          <div class="app__chat">
            <div
              v-for="item in messages"
              class="app__chat--other"
              :class="{ 'app__chat--user': nick === item.nick }"
            >
              <span
                class="app__chat-name"
                :class="{ 'app__chat-name--user': nick === item.nick }"
              >{{ item.nick }}</span>
              <div
                class="app__message"
                :class="{ 'app__message--user': nick === item.nick }"
              >
              
                  <span class="app__message--text">{{ item.message }}</span>
                <span
                  class="app__message--date"
                  >{{ new Date(item.date).toLocaleDateString() }}</span
                >
              </div>
            </div>
          </div>
          <div class="app__form">
            <div class="input-group mt-3">
              <input  v-model="message" type="text" class="form-control" placeholder="Message" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button @click="send" class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="far fa-paper-plane"></i></button>
            </div>
          </div>
        </template>
        <footer class="fixed-footer">
          <p>
            &copy;<a
            href="https://github.com/LaureanoVera"
            target="blank"
            class="color-link"
            >
            LaureanoVera</a
            >
          </p>
        </div>
        </footer>
      </div>
    </section>

    <%- include('./templates/scripts.ejs') %> 
  </body>
</html>
