:root {
  --first-color: #F2D335;
  --second-color: #8C862A;
  --light: #D9D9D9;
  --dark: #0D0D0D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/* LOGIN */
.login-app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-app__input {
  width: 420px;
}

.login-app__btn {
  background-color: var(--first-color);
  width: 420px;
}
.login-app__btn:hover {
  background-color: var(--second-color);
  color: var(--light);
}

.login-app__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-app__img {
  height: 38vh;
  transition: .3s;
  animation: move 7s infinite;
  filter: drop-shadow(2px 3px 0 var(--first-color));  
}

.login-app__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .login-app {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .login-app__input {
    width: 100%;
  }

  .login-app__btn {
    width: 100%;
  }

  .login-app__img {
    width: 80%;
    max-height: 95%;
  }
}
/* LOGIN */

/* CHAT */
.app__chat {
  height: 70vh;
  width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  /* overflow: scroll; */
}

.app__chat--user {
  background-color: red;
  width: 100%;
  height: 100%;
}

.app__message {
  margin: .1em 0;
  color: var(--first-color);
  display: grid;
  color: var(--light);
  background-color: var(--second-color);
}

.app__message--date {
  font-size: .5em;
}
/* /CHAT */
.mod-display {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-app {
  color: var(--second-color);
}

.bg-color {
  background-color: var(--dark);
}

.color-link {
  color: var(--second-color);
  opacity: .5;
  text-decoration: none;
  transition: .3s;
}
.color-link:hover {
  color: var(--first-color);
  opacity: 1;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
}

@keyframes move {
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(.2em);
  }
  20%, 40%, 60%, 80%, 100% {
    transform: translateY(-.2em);
  }
}